<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cafe">

        <!-- Auth Activities -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.SignupActivity"
            android:exported="false" />

        <!-- Home Activity -->
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false" />

        <!-- Profile Activities -->
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false" />

        <!-- Cart Activities -->
        <activity
            android:name=".ui.cart.CartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cart.CheckoutActivity"
            android:exported="false" />

        <!-- Product Activities -->
        <activity
            android:name=".ui.product.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.product.FavoritesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.product.AllReviewsActivity"
            android:exported="false" />

        <!-- Order Activities -->
        <activity
            android:name=".ui.order.OrderHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.order.OrderDetailActivity"
            android:exported="false" />

        <!-- Admin Activities -->
        <activity
            android:name=".ui.admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.ManageProductsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.EditProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.ManageOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.ManageCategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.ManageVouchersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.ManageHappyHourActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.MembershipSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.ManageUsersActivity"
            android:exported="false" />

    </application>

</manifest>
